* {
    box-sizing: border-box;
}

body {
    padding: 16px;
}

form {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header > * {
    align-self: center;
    padding: 8px;
}

input, select {
    padding: 8px 0px;
    margin: 8px 0px;
    display: block;
    width: 100%;
}

section {
    flex-grow: 1;
}

footer {
    padding: 32px;
    text-align: center;
}

.buy-button {
    font-size: 28px;
}

.content {
    /* min-height: 80vh; */
    margin: 32px 0px;
    display: flex;
}

.product {
    margin: 8px;
}
